body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: rgb(27, 27, 38); */
}
@font-face {
  font-family: "odin_roundedbold";
  src: url("./assets/fonts/odin_rounded_-_bold-webfont.woff2") format("woff2"),
    url("./assets/fonts/odin_rounded_-_bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.heading {
  font-family: "odin_roundedbold";
}
